@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
}
h2 {
  margin: 5px 0px;
}
.MuiFilledInput-input {
  padding: 12px;
}

.input {
  background: #f8f9fc;
  /* outline: 1px solid #f5f5f5;
  border: 1px solid #f5f5f5; */
  width: 65%;
  /* padding: 20px 15px; */
  /* margin: 5px 0px; */
}
.form {
  padding: 8% 0px;
}

.greet {
  margin-bottom: 30px;
}

.label {
  margin-top: 15px;
  margin-bottom: 0;
}
